.vacancies__search__vacancies {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 732px;
  align-items: center;
}

.vacancies {
  display: flex;
  justify-content: center;
}
.vacancies__filter {
  margin-right: 28px;
}
.vacancies__search {
  margin-bottom: 16px;
}


.vacancies__pag {
  margin-bottom: 10px;
}
