.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 773px;
  height: 48px;
}
.search__button {
  position: absolute;
  z-index: 1;
  margin-left: 678px;
}

@media (max-width: 1135px) {
  .search__button {
    position: absolute;
    z-index: 1;
    margin-left: 30px;
  }
  .search input {
    width: 90%;
  }
}