@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
